
    body {
        font-family: cursive;
        margin: 0;
        padding: 0;
        background-color: #88acc8;
        color:#4682b4;
        direction: ltr;
}
.navbar {
    position: fixed;
    height: 115px;
    width: 30000px;
    background-attachment: #a2bedc;
  }
.subtitle{
    color:#fff;
    font-family: cursive;
    margin-top: -12px;
    float:left;
  }
  li{
    display:inline-block;
    margin-top: 30px;
  }
  li a{
    text-decoration:none;
    padding: 20px;
    margin-left: 15px;
    margin-top: -10px;
  }
  li a:hover{
    color:white;
    background-color:DarkTurquoise	;
  }
  .main-div {
    height: 300px;
    display: flex;
    justify-content: space-between;
 }
  #box1{
    width: 30%;
    height: 115%;
    background-color:#4682b4;
    border-style: dotted;
    border-width: 7px;
    border-color:LightBlue;
    margin-top: 70px;
 }
 p{
  color:black;
  margin-top: 60px;
  padding: 15px;
 }
 #box2{
  width: 30%;
  height: 115%;
  justify-content: space-between;
  background-color:#4682b4;
  border-style: dotted;
  border-width: 7px;
  border-color:LightBlue;
  margin-top: 60px;
}




