body{
  background-color:#88acc8;
}
h1{
    color:#FFFF;}
h2{
    color:#FFFF;}
h3{
    color:#FFFF;}
    
    button{
  background-color:#7aa6ca;
  padding:23px;
  border:10;
    border-radius:20%
    }