
    body {
        font-family: cursive;
        margin: 0;
        padding: 0;
        background-color: #88acc8;
        color:#4682b4;
        direction: ltr;
}
.navbar {
    position: fixed;
    height: 115px;
    width: 30000px;
    background-attachment: #a2bedc;
  }
.subtitle{
    color:#fff;
    font-family: cursive;
    margin-top: -12px;
    float:left;
  }
  li{
    display:inline-block;
    margin-top: 30px;
  }
  li a{
    text-decoration:none;
    padding: 20px;
    margin-left: 15px;
    margin-top: -10px;
  }
  li a:hover{
    color:white;
    background-color:skyblue;
  }
  .main-div {
    height: 300px;
    display: flex;
    justify-content: space-between;
    
 }
  #box1{
    margin-top: -170px;
    width: 30%;
    height: 115%;
    background-color:#4682b4;
    border-style: dotted;
    border-width: 7px;
    border-color:LightBlue;
    margin-top: 70px;
  
 }
 p{
  font-size:15px;
  color:black;
  margin-top: 60px;
  padding: 15px;
 }
 #box2 {
  float: left; /* Float box2 to the left */
  width: 30%;
  height: 115%;
  justify-content: space-between; /* This will only apply if box2 itself is a flex container for its internal content */
  background-color: #4682b4;
  border-style: dotted;
  border-width: 7px;
  border-color: LightBlue;
  margin-top: 60px;
  margin-right: 20px; /* Add some space between box2 and box3 (adjust as needed) */
}

#box3 {
  float: left; /* Float box3 to the left as well */
  padding: 40px;
  width: 30%;
  height: 150%;
  background-color: FloralWhite;
  border-style: dotted;
  border-width: 7px;
  border-color: LightBlue;
  margin-top: -170px;
}

#calculate-p{
  padding:5px;
}
#grades{
  width: 200px;
}
.submit-btn{
  background-color: #4682b4;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  size: 50px;
}
#image{
  width: 300px;
}
#image2{
  width: 400px;
  height: 300px;
  padding: 20px;
  margin-top: -180px;


}
#image3{
  width: 400px;
  height: 300px;
  padding: 20px;

}
.instructions{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: floralwhite;
  font-size: 20px;
  width: 80%;
  box-shadow: 0 0 20px skyblue;
  border-radius: 15px;

}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}





